body, html {
  background:#f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 2px;
  padding: 4px;
  overflow: hidden;
  background-color: #333;
  width: 16%;
  float:right;
  z-index: 10;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


/* Full-width input fields */
